<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.demo.my.base.mybatis.mapper.ds1mapper.BlogMapper">

<resultMap type="com.demo.my.base.model.Blog" id="BlogBaseMapper">
	<id property="img" column="IMG" />
	<id property="updateTime" column="UPDATE_TIME" />
	<id property="title" column="TITLE" />
	<id property="userId" column="USER_ID" />
	<id property="click" column="CLICK" />
	<id property="content" column="CONTENT" />
	<id property="createTime" column="CREATE_TIME" />
	<id property="preContent" column="PRE_CONTENT" />
	<id property="menuId" column="MENU_ID" />
	<id property="id" column="ID" />
	<id property="tag" column="TAG" />
	<id property="status" column="STATUS" />
</resultMap>  

<insert id="insert">
	<selectKey resultType="long" keyProperty="id">  
   		select LAST_INSERT_ID()
   	</selectKey>
	insert into blog
	(IMG,UPDATE_TIME,TITLE,USER_ID,CLICK,CONTENT,CREATE_TIME,PRE_CONTENT,MENU_ID,TAG,STATUS)
	values
	(#{img},#{updateTime},#{title},#{userId},#{click},#{content},#{createTime},#{preContent},#{menuId},#{tag},#{status})
</insert>

<update id="update">
	UPDATE blog 
	<set>
			<if test="img != null">  
	        	IMG=#{img},
	    	</if>
			<if test="updateTime != null">  
	        	UPDATE_TIME=#{updateTime},
	    	</if>
			<if test="title != null">  
	        	TITLE=#{title},
	    	</if>
			<if test="userId != null">  
	        	USER_ID=#{userId},
	    	</if>
			<if test="click != null">  
	        	CLICK=#{click},
	    	</if>
			<if test="content != null">  
	        	CONTENT=#{content},
	    	</if>
			<if test="createTime != null">  
	        	CREATE_TIME=#{createTime},
	    	</if>
			<if test="preContent != null">  
	        	PRE_CONTENT=#{preContent},
	    	</if>
			<if test="menuId != null">  
	        	MENU_ID=#{menuId},
	    	</if>
			<if test="tag != null">  
	        	TAG=#{tag},
	    	</if>
			<if test="status != null">  
	        	STATUS=#{status},
	    	</if>
	</set>   
    WHERE id=#{id}
</update>

<delete id="delete">
	delete from blog where id=#{id}
</delete>

<select id="getById" resultMap="BlogBaseMapper">
	SELECT * FROM blog WHERE id=#{id} 
</select>

<select id="countByParm" resultType="integer">
	select count(*) from blog  where 1=1 
			<if test="parm.img != null">
		     	and IMG = #{parm.img}
		   	</if>
			<if test="parm.updateTime != null">
		     	and UPDATE_TIME = #{parm.updateTime}
		   	</if>
			<if test="parm.title != null">
		     	and TITLE = #{parm.title}
		   	</if>
			<if test="parm.userId != null">
		     	and USER_ID = #{parm.userId}
		   	</if>
			<if test="parm.click != null">
		     	and CLICK = #{parm.click}
		   	</if>
			<if test="parm.content != null">
		     	and CONTENT = #{parm.content}
		   	</if>
			<if test="parm.createTime != null">
		     	and CREATE_TIME = #{parm.createTime}
		   	</if>
			<if test="parm.preContent != null">
		     	and PRE_CONTENT = #{parm.preContent}
		   	</if>
			<if test="parm.menuId != null">
		     	and MENU_ID = #{parm.menuId}
		   	</if>
			<if test="parm.tag != null">
		     	and TAG = #{parm.tag}
		   	</if>
			<if test="parm.status != null">
		     	and STATUS = #{parm.status}
		   	</if>
</select>

<select id="getBeanListByParm" resultMap="BlogBaseMapper">
	select * from blog where 1=1 
			<if test="parm.img != null">
		     	and IMG = #{parm.img}
		   	</if>
			<if test="parm.updateTime != null">
		     	and UPDATE_TIME = #{parm.updateTime}
		   	</if>
			<if test="parm.title != null">
		     	and TITLE = #{parm.title}
		   	</if>
			<if test="parm.userId != null">
		     	and USER_ID = #{parm.userId}
		   	</if>
			<if test="parm.click != null">
		     	and CLICK = #{parm.click}
		   	</if>
			<if test="parm.content != null">
		     	and CONTENT = #{parm.content}
		   	</if>
			<if test="parm.createTime != null">
		     	and CREATE_TIME = #{parm.createTime}
		   	</if>
			<if test="parm.preContent != null">
		     	and PRE_CONTENT = #{parm.preContent}
		   	</if>
			<if test="parm.menuId != null">
		     	and MENU_ID = #{parm.menuId}
		   	</if>
			<if test="parm.tag != null">
		     	and TAG = #{parm.tag}
		   	</if>
			<if test="parm.status != null">
		     	and STATUS = #{parm.status}
		   	</if>
		<if test="parm.orderby != null">
	   		order by ${parm.orderby}
	   	</if>
		<if test="parm.start != null">
			limit #{parm.start},#{parm.limit}
		</if>
</select>

<select id="getMapListByParm" parameterType="HashMap" resultType="HashMap">
	select 
	b.id as id, 
	b.MENU_ID menuId,
	b.TITLE as title,
	DATE_FORMAT(b.CREATE_TIME,"%Y-%m-%d %H:%s:%i") as createTime,
	DATE_FORMAT(b.UPDATE_TIME,"%Y-%m-%d %H:%s:%i") as updateTime,
	b.CLICK as click,
	u.USERNAME as username,
	bm.`NAME` as menuName
	from blog b 
	LEFT JOIN `user` u on b.USER_ID = u.ID
	LEFT JOIN blog_menu bm on b.MENU_ID = bm.ID
	where 1=1
	<if test="parm.title != null">
   		and b.title like "%"#{parm.title}"%"
   	</if>
   	<if test="parm.username != null">
   		and u.USERNAME like "%"#{parm.username}"%"
   	</if>
   	<if test="parm.menuId != null">
   		and b.menu_id = #{parm.menuId}
   	</if>
	<if test="parm.orderby != null">
   		order by ${parm.orderby}
   	</if>
	<if test="parm.start != null">
		limit #{parm.start},#{parm.limit}
	</if>
</select>


</mapper>