<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.demo.my.base.mybatis.mapper.ds1mapper.CodeSubMenuMapper">

<resultMap type="com.demo.my.base.bean.CodeSubMenu" id="CodeSubMenuBaseMapper">
	<id property="id" column="ID" />
	<result property="name" column="NAME" />
	<result property="fatherId" column="FATHER_ID" />
	<result property="status" column="STATUS" />
</resultMap>  

<insert id="insert">
	<selectKey resultType="long" keyProperty="id">  
   		select LAST_INSERT_ID()
   	</selectKey>  
	insert into code_sub_menu(NAME,FATHER_ID,STATUS) values(#{name},#{fatherId},#{status})
</insert>

<update id="update">
	update code_sub_menu set NAME = #{name}, FATHER_ID = #{fatherId}, STATUS=#{status} where ID = #{id}
</update>

<select id="countByParm" resultType="integer">
	SELECT count(*) FROM code_sub_menu WHERE 1=1
   <if test="parm.name != null and parm.name != ''">
     	AND NAME like '%${parm.name}%'
   	</if>
   	<if test="parm.fatherId != null and parm.fatherId != ''">
     	AND FATHER_ID = #{parm.fatherId}
   	</if>
   	<if test="parm.status != null and parm.status != ''">
     	AND STATUS = #{parm.status}
   	</if>
</select>
<select id="getBeanListByParm" parameterType="HashMap" resultMap="CodeSubMenuBaseMapper">
	SELECT * FROM code_sub_menu WHERE 1=1
   	<if test="parm.name != null and parm.name != ''">
     	AND NAME like '%${parm.name}%'
   	</if>
   	<if test="parm.fatherId != null">
     	AND FATHER_ID = #{parm.fatherId}
   	</if>
   	<if test="parm.status != null">
     	AND STATUS = #{parm.status}
   	</if>
</select>

<select id="getById" resultMap="CodeSubMenuBaseMapper">
	SELECT * FROM code_sub_menu WHERE ID = #{id}
</select>

</mapper>