<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.demo.my.base.mybatis.mapper.ds1mapper.CodeMenuMapper">

<resultMap type="com.demo.my.base.model.CodeMenu" id="CodeMenuBaseMapper">
	<id property="name" column="NAME" />
	<id property="orderBy" column="ORDER_BY" />
	<id property="id" column="ID" />
	<id property="remark" column="REMARK" />
	<id property="status" column="STATUS" />
</resultMap>  

<insert id="insert">
	<selectKey resultType="long" keyProperty="id">  
   		select LAST_INSERT_ID()
   	</selectKey>
	insert into code_menu
	(NAME,ORDER_BY,REMARK,STATUS)
	values
	(#{name},#{orderBy},#{remark},#{status})
</insert>

<update id="update">
	UPDATE code_menu 
	<set>
			<if test="name != null">  
	        	NAME=#{name},
	    	</if>
			<if test="orderBy != null">  
	        	ORDER_BY=#{orderBy},
	    	</if>
	    	<if test="remark != null">  
	        	REMARK=#{remark},
	    	</if>
	    	<if test="status != null">  
	        	STATUS=#{status},
	    	</if>
	</set>   
    WHERE id=#{id}
</update>

<delete id="delete">
	delete from code_menu where id=#{id}
</delete>

<select id="getById" resultMap="CodeMenuBaseMapper">
	SELECT * FROM code_menu WHERE id=#{id} 
</select>


<select id="getBeanListByParm" resultMap="CodeMenuBaseMapper">
	select * from code_menu where 1=1 
			<if test="parm.name != null">
		     	and NAME like CONCAT('%', #{parm.name}, '%')
		   	</if>
			<if test="parm.orderBy != null">
		     	and ORDER_BY = #{parm.orderBy}
		   	</if>
		   	<if test="parm.status != null">  
	        	and STATUS=#{parm.status}
	    	</if>
	   		order by ORDER_BY asc
		<if test="parm.start != null">
			limit #{parm.start},#{parm.limit}
		</if>
</select>


<select id="getMapListByParm" parameterType="HashMap" resultType="HashMap">
	select 
	`NAME` `name`,
	ID id,
	ORDER_BY orderBy,
	`STATUS` `status`,
	REMARK remark
	from code_menu where 1=1
		order by ORDER_BY asc
		<if test="parm.start != null">
			limit #{parm.start},#{parm.limit}
		</if>
</select>

<select id="getListForZtree" resultType="HashMap">
	SELECT 
	0 pId,
	ID codeMenuId,
	concat("menu",ID) id,
	`NAME` `name`,
	 2 status,
	1 menuLevel,
	0 fatherId,
	ORDER_BY orderBy
	from code_menu 
	union
	SELECT
	concat("menu",FATHER_ID)  pId,
	ID codeMenuId,
	ID id,
	`NAME` `name`,
	`STATUS` `status`,
	2 menuLevel,
	FATHER_ID fatherId,
	ORDER_BY orderBy
	from code_sub_menu
	ORDER BY `NAME` asc
</select>

</mapper>