<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.demo.my.base.mybatis.mapper.ds1mapper.CodeMapper">

<resultMap type="com.demo.my.base.bean.Code" id="CodeBaseMapper">
	<id property="id" column="ID" />
	<result property="fatherId" column="FATHER_ID" />
	<result property="content" column="CONTENT" />
	<result property="item" column="ITEM" />
	<result property="createTime" column="CREATE_TIME" />
	<result property="updateTime" column="UPDATE_TIME" />
	<result property="itemOrder" column="ITEM_ORDER" />
	<result property="status" column="STATUS" />
	<result property="codeId" column="CODE_ID" />
</resultMap>  

<insert id="insert">
	<selectKey resultType="long" keyProperty="id">  
   		select LAST_INSERT_ID()
   	</selectKey>  
	insert into code(ITEM,CONTENT,FATHER_ID,CREATE_TIME,UPDATE_TIME,ITEM_ORDER,STATUS,CODE_ID)
	values(#{item},#{content},#{fatherId},now(),now(),#{itemOrder},0,#{codeId})
</insert>

<update id="update">
	update code set 
	<if test="item != null and item != ''">
     	ITEM = #{item},
   	</if>
   	<if test="itemOrder != null">
     	ITEM_ORDER = #{itemOrder},
   	</if>
   	<if test="content != null and content != ''">
      	CONTENT = #{content},
   	</if>
   	<if test="status != null">
      	STATUS = #{status},
   	</if>
    FATHER_ID = #{fatherId},
    CODE_ID = #{codeId},
   	UPDATE_TIME = now()
   	where ID =#{id}
</update>

<select id="countByParm" resultType="integer">
	SELECT count(*) FROM code WHERE 1=1 
   	<if test="parm.item != null and parm.item != ''">
     	ITEM like '%${parm.item}%'
   	</if>
   	<if test="parm.fatherId != null">
     	and FATHER_ID = #{parm.fatherId}
   	</if>
</select>
<select id="getBeanListByParm" parameterType="HashMap" resultMap="CodeBaseMapper">
	SELECT ID, FATHER_ID, ITEM, STATUS, ITEM_ORDER, CREATE_TIME, UPDATE_TIME,CODE_ID FROM code WHERE 1=1
	<if test="parm.item != null and parm.item != ''">
     	and ITEM like '%${parm.item}%'
   	</if>
   	<if test="parm.fatherId != null">
     	and FATHER_ID = #{parm.fatherId}
   	</if>
   	<if test="parm.codeId != null">
     	and CODE_ID = #{parm.codeId}
   	</if>
   	<if test="parm.codeId == null">
     	and CODE_ID is null
   	</if>
	ORDER BY ITEM_ORDER ASC 
</select>

<select id="getById" resultMap="CodeBaseMapper">
	SELECT * FROM code WHERE ID = #{id}
</select>


</mapper>
