<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.demo.my.base.mybatis.mapper.ds1mapper.DemoMenuMapper">

<resultMap type="com.demo.my.base.model.DemoMenu" id="DemoMenuBaseMapper">
	<id property="name" column="name" />
	<id property="id" column="id" />
	<id property="icon" column="icon" />
	<id property="orderNum" column="orderNum" />
	<id property="enable" column="enable" />
	<id property="pathWindows" column="path_windows" />
	<id property="pathLinux" column="path_linux" />
	<id property="parentId" column="parent_id" />
</resultMap>  

<insert id="insert">
	<selectKey resultType="long" keyProperty="id">  
   		select LAST_INSERT_ID()
   	</selectKey>
	insert into demo_menu
	(name,icon,order_num,enable,path_windows,path_linux,parent_id)
	values
	(#{name},#{icon},#{orderNum},#{enable},#{pathWindows},#{pathLinux},#{parentId})
</insert>

<update id="update">
	UPDATE demo_menu 
	<set>
			<if test="name != null">  
	        	name=#{name},
	    	</if>
	    	<if test="icon != null">  
	        	icon=#{icon},
	    	</if>
	    	<if test="orderNum != null">  
	        	order_num=#{orderNum},
	    	</if>
	    	<if test="enable != null">  
	        	enable=#{enable},
	    	</if>
	    	<if test="pathWindows != null">  
	        	path_windows=#{pathWindows},
	    	</if>
	    	<if test="parentId != null">  
	        	parent_id=#{parentId},
	    	</if>
	    	<if test="pathLinux != null">  
	        	path_linux=#{pathLinux},
	    	</if>
	</set>   
    WHERE id=#{id}
</update>

<delete id="delete">
	delete from demo_menu where id=#{id}
</delete>

<select id="getById" resultMap="DemoMenuBaseMapper">
	SELECT * FROM demo_menu WHERE id=#{id} 
</select>

<select id="countByParm" resultType="integer">
	select count(*) from demo_menu  where 1=1 
			<if test="parm.name != null">
		     	and name = #{parm.name}
		   	</if>
</select>

<select id="getBeanListByParm" resultMap="DemoMenuBaseMapper">
	select * from demo_menu where 1=1 
			<if test="parm.name != null">
		     	and name LIKE CONCAT(CONCAT('%', #{parm.name,jdbcType=VARCHAR}),'%') 
		   	</if>
		   	<if test="parm.parentId != null">
		     	and parent_id = #{parm.parentId}
		   	</if>
		<if test="parm.orderby != null">
	   		order by ${parm.orderby}
	   	</if>
		<if test="parm.start != null">
			limit #{parm.start},#{parm.limit}
		</if>
</select>


<select id="getMapListByParm" parameterType="HashMap" resultType="HashMap">
	select * from demo_menu where 1=1
		<if test="parm.orderby != null">
	   		order by ${parm.orderby}
	   	</if>
		<if test="parm.start != null">
			limit #{parm.start},#{parm.limit}
		</if>
</select>

<select id="getForTree" resultType="HashMap">
	SELECT 
	t.id id,
	t.`name` `name`,
	t.parent_id pId
	FROM
	demo_menu t
</select>

</mapper>