<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.demo.my.base.mybatis.mapper.ds2mapper.PicBlogLogMapper">

<resultMap type="com.demo.my.base.bean.PicBlogLog" id="PicBlogLogBaseMapper">
	<id property="id" column="ID" />
	<result property="picBlogId" column="PICBLOG_ID" />
	<result property="remark" column="REMARK" />
	<result property="userId" column="USER_ID" />
	<result property="createTime" column="CREATE_TIME" />
</resultMap>  

<insert id="insert">
	<selectKey resultType="long" keyProperty="id">  
   		select LAST_INSERT_ID()
   	</selectKey>  
	insert into picblog_log(PICBLOG_ID,USER_ID,CREATE_TIME,REMARK)
	values(#{picBlogId},#{userId},now(),#{remark})
</insert>

<select id="countByParm" resultType="integer">
	SELECT count(*) FROM picblog_log  
	WHERE 1=1 
   	<if test="parm.picBlogId != null">
     	and PICBLOG_ID = #{parm.picBlogId}
   	</if>
   	<if test="parm.userId != null">
     	and USER_ID = #{parm.userId}
   	</if>
</select>
<select id="getMapListByParm" parameterType="HashMap" resultType="HashMap">
	SELECT bl.ID as id, bl.PICBLOG_ID as picBlogId, bl.CREATE_TIME as createTime, 
		bl.REMARK as remark,bl.USER_ID as userId, u.USERNAME as username
	FROM picblog_log bl 
	LEFT JOIN `user` u on u.ID = bl.USER_ID
	WHERE 1=1 
	<if test="parm.picBlogId != null">
     	and PICBLOG_ID = #{parm.picBlogId}
   	</if>
   	<if test="parm.userId != null">
     	and USER_ID = #{parm.userId}
   	</if>
	ORDER BY ID DESC 
	LIMIT #{page.pageNum}, #{page.pageSize}
</select>

<select id="getBeanListByParm" parameterType="HashMap" resultMap="PicBlogLogBaseMapper">
	SELECT *
	FROM picblog_log bl 
	WHERE 1=1 
	<if test="parm.picBlogId != null">
     	and PICBLOG_ID = #{parm.picBlogId}
   	</if>
   	<if test="parm.userId != null">
     	and USER_ID = #{parm.userId}
   	</if>
	ORDER BY ID DESC 
	LIMIT #{page.pageNum}, #{page.pageSize}
</select>

</mapper>