<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.demo.my.base.mybatis.mapper.ds1mapper.RoleMapper">

<resultMap type="com.demo.my.base.bean.Role" id="RoleBaseMapper">
	<id property="id" column="ID" />
	<result property="roleName" column="ROLE_NAME" />
	<result property="roleDescription" column="ROLE_DECRIPTION" />
</resultMap>  

<insert id="insert">
	<selectKey resultType="long" keyProperty="id">  
   		select LAST_INSERT_ID()
   	</selectKey>
   	insert into role(ROLE_NAME,ROLE_DECRIPTION) values(#{roleName},#{roleDescription})  
</insert>

<update id="update">
	update role set ROLE_NAME = #{roleName}, ROLE_DECRIPTION = #{roleDescription}
   	where ID = #{id}
</update>

<select id="getByName" resultMap="RoleBaseMapper">
	select * from role where ROLE_NAME = #{roleName}
</select>

<select id="getList" resultMap="RoleBaseMapper">
	select * from role
</select>

<select id="getById" resultMap="RoleBaseMapper">
	select * from role where ID = #{id}
</select>

<select id="getRoleByUsername" resultMap="RoleBaseMapper">
	select r.* from user_role r LEFT JOIN user u on u.ROLE=r.ID where u.USERNAME=#{username}
</select>


</mapper>