<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.demo.my.base.mybatis.mapper.ds1mapper.SysCfgMapper">

<resultMap type="com.demo.my.base.model.SysCfg" id="SysCfgBaseMapper">
	<id property="key" column="key" />
	<id property="value" column="value" />
	<id property="flag" column="flag" />
	<id property="id" column="ID" />
</resultMap>  

<insert id="insert">
	<selectKey resultType="long" keyProperty="id">  
   		select LAST_INSERT_ID()
   	</selectKey>
	insert into sys_cfg
	(`KEY`,VALUE,FLAG)
	values
	(#{key},#{value},#{flag})
</insert>

<update id="update">
	UPDATE sys_cfg 
	<set>
			<if test="key != null">  
	        	`KEY`=#{key},
	    	</if>
			<if test="value != null">  
	        	VALUE=#{value},
	    	</if>
	    	<if test="flag != null">  
	        	FLAG=#{flag},
	    	</if>
	</set>   
    WHERE id=#{id}
</update>

<delete id="delete">
	delete from sys_cfg where id=#{id}
</delete>

<select id="getById" resultMap="SysCfgBaseMapper">
	SELECT * FROM sys_cfg WHERE id=#{id} 
</select>

<select id="getByKey" resultMap="SysCfgBaseMapper">
	SELECT * FROM sys_cfg WHERE `KEY`=#{key} 
</select>

<select id="countByParm" resultType="integer">
	select count(*) from sys_cfg  where 1=1 
			<if test="parm.key != null">
		     	and `KEY` = #{parm.key}
		   	</if>
			<if test="parm.value != null">
		     	and VALUE = #{parm.value}
		   	</if>
		   	<if test="parm.flag != null">
		     	and FLAG = #{parm.flag}
		   	</if>
</select>

<select id="getBeanListByParm" resultMap="SysCfgBaseMapper">
	select * from sys_cfg where 1=1 
			<if test="parm.key != null">
		     	and `KEY` = #{parm.key}
		   	</if>
			<if test="parm.value != null">
		     	and VALUE = #{parm.value}
		   	</if>
		   	<if test="parm.flag != null">
		     	and FLAG = #{parm.flag}
		   	</if>
		<if test="parm.orderby != null">
	   		order by ${parm.orderby}
	   	</if>
		<if test="parm.start != null">
			limit #{parm.start},#{parm.limit}
		</if>
</select>


<select id="getMapListByParm" parameterType="HashMap" resultType="HashMap">
	select * from sys_cfg where 1=1
		<if test="parm.orderby != null">
	   		order by ${parm.orderby}
	   	</if>
		<if test="parm.start != null">
			limit #{parm.start},#{parm.limit}
		</if>
</select>


</mapper>