<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.demo.my.base.mybatis.mapper.ds1mapper.SysCfgMapper">

<resultMap type="com.demo.my.base.bean.SysCfg" id="SysCfgBaseMapper">
	<id property="remark" column="REMARK" />
	<id property="countJson" column="COUNT_JSON" />
	<id property="id" column="ID" />
</resultMap>  

<insert id="insert">
	<selectKey resultType="long" keyProperty="id">  
   		select LAST_INSERT_ID()
   	</selectKey>
	insert into sys_cfg (REMARK, COUNT_JSON)
	values (#{remark}, #{countJson})
</insert>

<update id="update">
	UPDATE sys_cfg
	<set>  
		<if test="remark != null and remark != ''">  
	        remark=#{remark},
	    </if>
	    <if test="countJson != null and countJson != ''">  
	        count_json=#{countJson},  
	    </if>
    </set>
    WHERE ID=#{id}
</update>

<delete id="delete">
	delete from sys_cfg where ID=#{id}
</delete>

<select id="getById" resultMap="SysCfgBaseMapper">
	SELECT * FROM sys_cfg WHERE ID=#{id}
</select>

<select id="getBeanListByParm" resultMap="SysCfgBaseMapper">
	SELECT * FROM sys_cfg
</select>

<select id="getMapListByParm" parameterType="HashMap" resultType="HashMap">
	
</select>

<select id="countByParm" resultType="integer">
	
</select>

<select id="callProcCount" parameterType="java.util.Map" statementType="CALLABLE" >
	{call proc_count(#{result,jdbcType=INTEGER,mode=OUT})}
</select>

</mapper>