<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.demo.my.base.mybatis.mapper.ds1mapper.UserLogMapper">

<resultMap type="com.demo.my.base.model.UserLog" id="UserLogBaseMapper">
	<id property="remark" column="REMARK" />
	<id property="id" column="ID" />
	<id property="type" column="TYPE" />
	<id property="createTime" column="CREATE_TIME" />
	<id property="userId" column="USER_ID" />
</resultMap>  

<insert id="insert">
	<selectKey resultType="long" keyProperty="id">  
   		select LAST_INSERT_ID()
   	</selectKey>
	insert into user_log
	(REMARK,TYPE,CREATE_TIME,USER_ID)
	values
	(#{remark},#{type},#{createTime},#{userId})
</insert>

<update id="update">
	UPDATE user_log 
	<set>
			<if test="remark != null">  
	        	REMARK=#{remark},
	    	</if>
			<if test="type != null">  
	        	TYPE=#{type},
	    	</if>
			<if test="createTime != null">  
	        	CREATE_TIME=#{createTime},
	    	</if>
			<if test="userId != null">  
	        	USER_ID=#{userId},
	    	</if>
	</set>   
    WHERE id=#{id}
</update>

<delete id="delete">
	delete from user_log where id=#{id}
</delete>

<select id="getById" resultMap="UserLogBaseMapper">
	SELECT * FROM user_log WHERE id=#{id} 
</select>

<select id="countByParm" resultType="integer">
	select count(*) from user_log  where 1=1 
			<if test="parm.remark != null">
		     	and REMARK = #{parm.remark}
		   	</if>
			<if test="parm.type != null">
		     	and TYPE = #{parm.type}
		   	</if>
			<if test="parm.createTime != null">
		     	and CREATE_TIME = #{parm.createTime}
		   	</if>
			<if test="parm.userId != null">
		     	and USER_ID = #{parm.userId}
		   	</if>
</select>

<select id="getBeanListByParm" resultMap="UserLogBaseMapper">
	select * from user_log where 1=1 
			<if test="parm.remark != null">
		     	and REMARK = #{parm.remark}
		   	</if>
			<if test="parm.type != null">
		     	and TYPE = #{parm.type}
		   	</if>
			<if test="parm.createTime != null">
		     	and CREATE_TIME = #{parm.createTime}
		   	</if>
			<if test="parm.userId != null">
		     	and USER_ID = #{parm.userId}
		   	</if>
		<if test="parm.orderby != null">
	   		order by ${parm.orderby}
	   	</if>
		<if test="parm.start != null">
			limit #{parm.start},#{parm.limit}
		</if>
</select>


<select id="getMapListByParm" parameterType="HashMap" resultType="HashMap">
	SELECT 
		t1.REMARK remark,
		DATE_FORMAT(t1.CREATE_TIME,'%Y-%m-%d %H:%i:%s') loginTimeStr,
		t2.USERNAME username,
		t1.TYPE type,
		t3.ROLE_NAME
		from user_log t1
		LEFT JOIN `user` t2 on t1.USER_ID=t2.ID
		LEFT JOIN user_role t3 on t3.ID=t2.ROLE
		where 1=1
		<if test="parm.userId != null">
			and t1.USER_ID=#{parm.userId}
		</if>
		order by t1.CREATE_TIME desc
		<if test="parm.start != null">
			limit #{parm.start},#{parm.limit}
		</if>
</select>


</mapper>