
/*
    [ TYPHOGRAPY ]
*/
 body {
    /* font-family:'Open Sans', sans-serif; */
    /* color: #85939b; */
    background-color:#f0f0f0;
}
h1, h2, h3, h4, h5, h6 {
    font-family:'Open Sans', sans-serif;
    color: #232a2f;
}
h3, h4, h5 {
    font-family:'Raleway', sans-serif;
    font-weight: 200;
    margin-bottom: 10px;
}
iframe{
    border:0;
    outline: 0;
}
.header-content {
    margin-bottom: 40px;
    color: #FFF;
    text-align: center;
}
.header-content h2 {
    font-weight: 300;
    font-size: 40px;
}
.header-content h3 {
    font-family:'Raleway', sans-serif;
    font-weight: 200;
    text-transform: capitalize;
    font-size: 24px;
}
ul.list li:before {
    position: absolute;
    left: 3px;
    font-family:'FontAwesome';
    content:'\f105';
}
ul.list {
    padding-left: 28px;
    padding-bottom: 10px;
    list-style: none;
    position: relative;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
/* 一般样式定义 */
 a {
    /* -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; */
    color: #0000ff;
    font-family:Arial;
}
a:hover {color: #232a2f;text-decoration: none;}

.mg-bt-20 {margin-bottom: 20px;}
.mg-bt-40 {margin-bottom: 40px;}
.mg-bt-60 {margin-bottom: 60px;}
.mg-bt-80 {margin-bottom: 80px;}
.mg-top-20 {margin-top: 20px;}
.mg-top-40 {margin-top: 40px;}
.mg-top-60 {margin-top: 60px;}
.mg-top-80 {margin-top: 80px;}
.mg-left-10 {margin-left: 10px;}
.mg-left-20 {margin-left: 20px;}
.mg-left-40 {margin-left: 40px;}
.mg-left-60 {margin-left: 60px;}
.mg-left-80 {margin-left: 80px;}
.mg-right-10 {margin-right: 10px;}
.mg-right-20 {margin-right: 20px;}
.mg-right-40 {margin-right: 40px;}
.mg-right-60 {margin-right: 60px;}
.mg-right-80 {margin-right: 80px;}

/*内边距*/
.pd-5{padding:5px;}
.pd-10{padding:10px;}
.pd-top-10{padding-top:10px;}
/*内边距*/

.display-none{display:none;}
.float-right{float:right}
.float-left{float:left}
.white{color:#fff;}

/*************背景色**************/
.bg-light-green{background-color:#44bb44;}
.bg-blue{background-color:#00f;}
.bg-light-blue{background-color:#64a6ee;}
.bg-yellow{background-color:#e9dd47;}
.bg-green{background-color:#00ff80;}
/*************背景色**************/

/*************按钮**************/
.btn {
    border-radius: 0;
    padding: 8px 12px;
    margin-right: 5px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn-red{background-color:rgba(255,20,147,1);}
.btn-blue{background-color:rgba(100,149,237,1);}
.btn-green{background-color:rgba(0,205,0,1);}
a.btn-red:hover{color:#fff;background-color:rgba(255,20,147,0.5);}
a.btn-blue:hover{color:#fff;background-color:rgba(100,149,237,0.5);}
.btn-green:hover{background-color:rgba(0,205,0,0.5);}
.btn-small{padding: 4px 8px;}
/*************按钮**************/

/* 搜索 */
.search-input input{font-size:16px;height:30px;weight:170px;padding:0px;margin:0px;border:1px solid rgba(100,149,237,1);}
.search-input a{padding:8px 10px;margin:0px;height:30px;position:relative;top:-3px;left:-8px;}
/* 搜索 */

.display-none{display:none;}
#main-wrapper {width: 100%; position: relative;}

/* *****页脚***** */
footer {
    background: #fff;
    padding:40px;
}
footer p {
    font-size: 14px;
    text-align: center;
}
footer .social{
    text-align: center;
    margin-bottom: 20px;
}
footer .social a {
    width: 31px;
    height: 31px;
    position: relative;
    text-align: center;
    color: #202020;
    display: inline-block;
    margin-right: 5px;
    line-height: 28px;
    font-size: 16px;
    border: 1px solid #202020;
}
footer .social a:hover {
    background: #202020;
    color: #FFF;
}
footer .social a i{
    line-height: 28px;
}
/* *****页脚***** */

/* *****左侧菜单***** */
#menu {
    position: fixed;
    width: 260px;
    background: #fff;
    height: 100%;
    left: 0;
    font-family:'Raleway', sans-serif;
}
#menu .navbar-toggle {
    margin-top: 11px;
}
#menu .navbar-brand {
    padding-top: 10px;
    padding-left: 30px;
}
#menu .navbar {
    border-radius: 0;
    background: transparent;
    border: none;
    padding-top: 10%;
}
#menu .navbar-collapse {
    padding-left: 20px;
}
#menu .navbar-header, #menu .navbar-nav, #menu .navbar-nav li {
    float: none;
    margin-left: -10px;
}
#menu .navbar-default .navbar-nav>li>a {
    color: #232a2f;
    font-size: 13px;
    font-weight: 300;
    letter-spacing:0.5px;
    padding-left: 30px;
}
#menu .navbar-default .navbar-nav>li>a:hover {
    background: rgba(135, 206, 250, .2);
}
#menu .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background: transparent;
    color: #ff0000;
}
#menu .navbar-nav {
    margin: 7.5px -15px;
}
#menu .navbar-nav .opens .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    border: 0;
    box-shadow: none;
    background-color: transparent;
}
#menu .navbar-default .navbar-nav .opens .dropdown-menu>li>a {
    color: #777;
}
#menu .navbar-nav .opens .dropdown-menu>li>a {
    line-height: 20px;
}
/* *****左侧菜单***** */

/* *****右侧内容***** */
#container {
    position: relative;
    margin-left: 250px;
}
#container section {
    padding: 60px;
    margin-left:10px;
}
#container section {
    background: #f7f8f9;
}
/* *****右侧内容***** */

/* 博客 -> 左侧菜单栏 */
ul.left-menu{
	width:180px;
	margin:0 auto;
	margin-left:0px;
	background:#fff;
	position:relative;
	z-index:0;
	padding:0px 20px 70px 0px;
}
ul.left-menu li{
	height:40px;
	line-height:40px;
	text-align:center;
	border-bottom:1px solid #F8F8F8;
	list-style: none;
}	
ul.left-menu li a{
	color:#666;
	display:block;
}	
ul.left-menu li a:hover{
	color:#FF5F3E;
	text-decoration:none;
}	
ul.left-menu li a.hover{color:#FF5F3E;}	
#lanPos{
	width:225px;
	height:40px;
	line-height:40px;
	background:#F8F8F8;
	border-left:5px solid #FF5F3E;
	position:absolute;
	left:-5px;
	top:0px;
	z-index:-1;
	transition:top .2s;}	
/* 博客 -> 首页 -> 左侧菜单栏 */
/* 博客 -> 首页 -> 右侧内容 */
.portfolio-items-main .cbp-so-from-right {
    float: left !important;
    width: 100%;
    padding-bottom:0px;
    margin-left:20px;
    margin-top:0px;
    border-bottom:1px dashed #aaa;
    padding-bottom:0;
}
.portfolio-items-main .cbp-so-from-right .row {
	padding-bottom:0px;
}
.blog-list .item{margin-bottom:10px;}
.blog-list .item.item-1{color:#aaa;}
.blog-list .item.item-2{font-size:14px;}
.blog-list .item.item-3 span{margin-right:20px;}
.blog-list .row div a{color:#000;}
.blog-list .row div a:hover{color:#0000ff;}
#view-more{margin-top:20px;margin-bottom:20px;}
.bg-white{background-color:#fff;}
.col-xs-10{margin-left:9%;}
/* 博客 -> 首页 -> 右侧内容 */


/*滚动条样式*/
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-button {
    width: 8px;
    height:5px;
}
::-webkit-scrollbar-track {
    background:#eee;
    border: thin solid lightgray;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius:10px;
}
::-webkit-scrollbar-thumb {
    background:#999;
    border: thin solid gray;
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
    background:#7d7d7d;
}