/*滚动条样式*/
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-button {
    width: 8px;
    height:5px;
}
::-webkit-scrollbar-track {
    background:#eee;
    border: thin solid lightgray;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius:10px;
}
::-webkit-scrollbar-thumb {
    background:#999;
    border: thin solid gray;
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
    background:#7d7d7d;
}

body, header, a, ul, li{
	margin: 0;
	padding: 0;
	border: 0;
}

	.container{
		font-family: 微软雅黑;
		background: #fff;
		padding: 30px;
		margin:20px auto;
        overflow: hidden;
	}

	.container .menu{
		width: 22%;
		margin-left: 30px;
		float: left;
		border-right: 1px solid #aaa;
	}
	
	.container .menu h3{
		font-size: 14px;
		cursor: pointer;
	}
    .container .menu ul{
        display: none;
        padding-left:0;
    }
	.container .menu ul li{
		height: 28px;
		line-height: 28px;
	}

	.container .menu ul li a:hover{
		background: #9FB6CD;
		border-radius: 14px;
		-webkit-border-radius: 14px;
		-moz-border-radius: 14px;
		-moz-border-radius:14px;
		color:#fff;
	
	}

	ul{
		list-style: none;
	}

	a{
		text-decoration: none;
		color: #000;
		font-size: 14px;
		display: block;
		/* width: 180px; */
		height: 26px;
		padding-left: 10px;
	}

	.container .menu .selected{
		background: #ccc;
		border-radius: 14px;
	}

	.container .content{
		margin-top: 15px;
		width: 860px;
		margin-left: 26%;
	}

	.container .content .get-menu{
		margin-left: -10px;
	}

	.container .content .get-menu a{
		display: inline-block;
		font-size: 15px;
	    height: 40px;
	}

	.container .content .get-menu a:last-child{
		margin-left: -8px;
		color: #7D9EC0;
	}

	.container .content .get-menu span{
		display: inline-block;
	    height: 40px;
	    margin-left: -110px;
	}

	.fa-edit-icon{
		margin-left:20px;
		cursor: pointer;
	}
	
	.tt{font-weight:bold }