/* 右下角方块按钮 */
.right-bottom-btns{
	border:0px solid #aaa;
	width: 40px;
    height: 160px;
   	position: fixed;
	display: block;
	right: 15px;
	bottom: 15px;
	text-align: center;
}
.right-bottom-btns .to-btn{
	background: rgba(0,250,0,0.3);
    border-radius: 0;
    color: #fff;
    font-size: 18px;
    line-height: 38px;
    /* padding-right: 10px;
    padding-top:10px; */
    width: 40px;
    height: 40px;
	display: block;
	right: 15px;
}
.right-bottom-btns .to-btn:hover{color: #FF5F3E;background-color:rgba(0,250,0,0.6);}	
.right-bottom-btns .to-top-btn {}
.right-bottom-btns .to-top-btn:hover{}
/* 右下角方块按钮 */

/* 页面预加载动画 */
#preloader {
	background: #FFF;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;
}
#status {
	background-image: url(/img/preloader.gif);
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;
	left: 50%;
	margin: -100px 0 0 -100px;
	position: absolute;
	top: 50%;
	width: 200px;
}
/* 页面预加载动画 */